/*
---------------------------------------------------------------
*
* base
*
---------------------------------------------------------------
*/
/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, button, table, tr, th, td {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

th, b, strong {
  font-weight: normal;
}

fieldset, img {
  border: none;
  vertical-align: top;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

legend {
  display: none;
}

button, input[type=submit] {
  border: 1px solid #ddd;
  cursor: pointer;
}

/*
---------------------------------------------------------------
*
* common
*
---------------------------------------------------------------
*/
@font-face {
  font-family: "noto-sans-scott-t";
  src: url("../fonts/NotoSansCJKkr-Thin.eot");
  src: url("../fonts/NotoSansCJKkr-Thin.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Thin.woff") format("woff"), url("../fonts/NotoSansCJKkr-Thin.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-l";
  src: url("../fonts/NotoSansCJKkr-Light.eot");
  src: url("../fonts/NotoSansCJKkr-Light.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Light.woff") format("woff"), url("../fonts/NotoSansCJKkr-Light.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-dl";
  src: url("../fonts/NotoSansCJKkr-DemiLight.eot");
  src: url("../fonts/NotoSansCJKkr-DemiLight.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-DemiLight.woff") format("woff"), url("../fonts/NotoSansCJKkr-DemiLight.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-r";
  src: url("../fonts/NotoSansCJKkr-Regular.eot");
  src: url("../fonts/NotoSansCJKkr-Regular.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Regular.woff") format("woff"), url("../fonts/NotoSansCJKkr-Regular.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-m";
  src: url("../fonts/NotoSansCJKkr-Medium.eot");
  src: url("../fonts/NotoSansCJKkr-Medium.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Medium.woff") format("woff"), url("../fonts/NotoSansCJKkr-Medium.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-b";
  src: url("../fonts/NotoSansCJKkr-Bold.eot");
  src: url("../fonts/NotoSansCJKkr-Bold.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Bold.woff") format("woff"), url("../fonts/NotoSansCJKkr-Bold.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-bk";
  src: url("../fonts/NotoSansCJKkr-Black.eot");
  src: url("../fonts/NotoSansCJKkr-Black.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Black.woff") format("woff"), url("../fonts/NotoSansCJKkr-Black.otf") format("truetype");
}

body {
  background: #fff;
  font-family: "noto-sans-scott-dl";
  font-size: 16px;
  color: #333;
}

a {
  color: #222;
}

select, button, input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  font-family: "noto-sans-scott-dl";
  color: #666;
}

th, b, strong {
  font-family: "noto-sans-scott-m";
}

input[type=text], input[type=password], input[type=email], select {
  height: 45px;
  padding: 0 10px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus {
  outline: none;
  border-color: #0b5098;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px;
}

textarea:focus {
  outline: none;
  border-color: #0b5098;
}

input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}

input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  line-height: 20px;
}

input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}

input[type=checkbox] + label:after {
  content: '';
  display: none;
  position: absolute;
  top: 3px;
  left: 2px;
  width: 15px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 3px solid #0b5098;
  border-bottom: 3px solid #0b5098;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type=checkbox]:checked + label:after {
  display: block;
}

::-moz-selection {
  background: #0b5098;
  color: #fff;
}

::selection {
  background: #0b5098;
  color: #fff;
}

::-moz-selection {
  background: #0b5098;
  color: #fff;
}

::-webkit-input-placeholder {
  font-size: 13px;
  color: #666;
}

::-moz-placeholder {
  font-size: 13px;
  color: #666;
}

:-ms-input-placeholder {
  font-size: 13px;
  color: #666;
}

.lock {
  overflow-y: hidden;
}

#wrap {
  min-width: 1024px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
}

.msg {
  margin-top: 5px;
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.msg.err {
  color: #ff0000;
}

.msg.ok {
  color: #08a600;
}

/* popup */
#popup {
  display: none;
  border-top: 8px solid #0b5098;
  background: #fff;
  width: 512px;
  padding: 30px 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100px;
  text-align: center;
}

#popup .alert {
  margin-bottom: 20px;
  font-size: 15px;
}

#popup .list_btns {
  display: table;
  margin: 0 auto;
  overflow: hidden;
}

#popup button {
  width: 100px;
  height: 30px;
  margin-left: 10px;
  background: #eee;
  font-size: 14px;
}

#popup button:first-child {
  margin: 0;
}

#popup button.yes {
  background: #0b5098;
  font-family: "noto-sans-scott-l";
  color: #fff;
}

#popup button:focus {
  outline: none;
}

.board_wrap .top.box {
  margin-bottom: 10px;
  overflow: hidden;
}

.board_wrap .top.box p {
  float: left;
  line-height: 35px;
  font-size: 14px;
  color: #666;
}

.board_wrap .table.box {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
}

.board_wrap .table.box tr {
  border-top: 1px solid #ddd;
}

.board_wrap .table.box tr:first-child {
  border-color: #bbb;
}

.board_wrap .table.box thead tr {
  border: none;
}

.board_wrap .table.box th, .board_wrap .table.box td {
  font-size: 14px;
}

.board_wrap .bottom.box {
  margin-top: 15px;
}

.board_wrap .bd_pages {
  display: table;
  margin: 30px auto 0;
}

.board_wrap .bd_pages li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 2px;
  text-align: center;
}

.board_wrap .bd_pages a, .board_wrap .bd_pages b {
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
}

.board_wrap .bd_pages b {
  border-radius: 3px;
  background: #083c72;
  color: #fff;
}

.board_wrap .bd_pages .pg_start, .board_wrap .bd_pages .pg_prev, .board_wrap .bd_pages .pg_next, .board_wrap .bd_pages .pg_end {
  background-repeat: no-repeat;
  background-position: center;
}

.board_wrap .bd_pages .pg_prev {
  background-image: url(../images/ico/shp_prev.png);
}

.board_wrap .bd_pages .pg_start {
  background-image: url(../images/ico/shp_start.png);
}

.board_wrap .bd_pages .pg_next {
  background-image: url(../images/ico/shp_next.png);
}

.board_wrap .bd_pages .pg_end {
  background-image: url(../images/ico/shp_end.png);
}

.board_wrap .bd_btns:after {
  content: "";
  display: table;
  clear: both;
}

.board_wrap .bd_btns a, .board_wrap .bd_btns button {
  width: 120px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #666;
}

.board_wrap .bd_btns a {
  display: block;
  line-height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.board_wrap .bd_btns button {
  background: #fff;
  font-size: 14px;
}

.board_wrap .bd_btns .btn_submit {
  background: #083c72;
  font-family: "noto-sans-scott-l";
  color: #fff;
}

.board_wrap.list .table.box th {
  padding: 10px 0;
}

.board_wrap.list .table.box th:nth-child(1) {
  width: 60px;
}

.board_wrap.list .table.box th:nth-child(3) {
  width: 120px;
}

.board_wrap.list .table.box th:nth-child(4) {
  width: 70px;
}

.board_wrap.list .table.box td {
  padding: 5px 0;
  text-align: center;
}

.board_wrap.list .table.box td:nth-child(2) {
  text-align: left;
}

.board_wrap.list .table.box td a {
  display: block;
  max-width: 550px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.board_wrap.list .table.box td a:hover {
  text-decoration: underline;
  color: #0b5098;
}

.board_wrap.list .table.box .bd_empty {
  padding: 100px 0;
  text-align: center;
  color: #666;
}

.board_wrap.detail .title.box, .board_wrap.detail .content.box {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.board_wrap.detail .title.box {
  border-top: 2px solid #333;
  border-bottom: 1px solid #bbb;
}

.board_wrap.detail .title.box h3, .board_wrap.detail .title.box h4 {
  font-family: "noto-sans-scott-m";
  margin-bottom: 15px;
}

.board_wrap.detail .title.box ul {
  overflow: hidden;
}

.board_wrap.detail .title.box ul li {
  position: relative;
  float: left;
  margin-left: 12px;
  padding-left: 12px;
  font-size: 14px;
  color: #666;
}

.board_wrap.detail .title.box ul li:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #666;
}

.board_wrap.detail .title.box ul li:first-child {
  margin: 0;
  padding: 0;
}

.board_wrap.detail .title.box ul li:first-child:before {
  display: none;
}

.board_wrap.detail .table.box {
  border-top: none;
  border-bottom-color: #bbb;
}

.board_wrap.detail .table.box tr:first-child {
  border: none;
}

.board_wrap.detail .table.box th, .board_wrap.detail .table.box td {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px solid #ddd;
}

.board_wrap.detail .table.box th {
  width: 120px;
  background: #f7f7f7;
}

.board_wrap.detail .table.box th:first-child {
  border: none;
}

.board_wrap.detail .table.box td {
  width: 680px;
}

.board_wrap.detail .table.box .bd_half td {
  width: 280px;
}

.board_wrap.detail .content.box {
  border-bottom: 1px solid #333;
  min-height: 300px;
  font-size: 15px;
}

.board_wrap.detail .bd_btns li {
  float: right;
}

.board_wrap.detail .bd_btns li:first-child {
  float: left;
}

#curriculum .list.box {
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
}

#curriculum .list.box li {
  position: relative;
  padding: 10px 100px 10px 10px;
  border-top: 1px solid #ddd;
}

#curriculum .list.box li:first-child {
  border: none;
}

#curriculum .list.box a {
  display: block;
  margin-bottom: 5px;
}

#curriculum .list.box a:hover {
  text-decoration: underline;
  color: #0b5098;
}

#curriculum .list.box span {
  display: block;
  font-size: 14px;
  color: #666;
}

#curriculum .list.box .cr_count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  text-align: center;
}

#curriculum .list.box .cr_end, #curriculum .list.box button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 30px;
  font-size: 13px;
}

#curriculum .list.box .cr_end {
  line-height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  background: #eee;
  text-align: center;
}

#curriculum .list.box button {
  background: #0b5098;
  color: #fff;
}

#curriculum .list.box .bd_empty {
  padding: 100px 0;
  text-align: center;
  color: #666;
}

/* header */
#header {
  position: relative;
  border-bottom: 1px solid #ccc;
}

#header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #f3f3f3;
  border-bottom: 1px solid #ccc;
}

#header > div {
  position: relative;
  padding-top: 30px;
}

#header > div:after {
  content: "";
  display: table;
  clear: both;
}

#header h1 {
  float: left;
  height: 40px;
  margin: 30px 0;
}

#header .quick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#header .quick li {
  position: relative;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  padding-left: 10px;
}

#header .quick li:first-child, #header .quick li:last-child {
  margin: 0;
  padding: 0;
}

#header .quick li:first-child:before, #header .quick li:last-child:before {
  display: none;
}

#header .quick li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #555;
}

#header .quick li:last-child {
  float: right;
}

#header .quick li:last-child a {
  font-family: "noto-sans-scott-m";
  color: #0b5098;
}

#header .quick a {
  font-size: 14px;
  color: #555;
}

#gnb {
  float: right;
  margin-top: 30px;
}

#gnb:after {
  content: "";
  display: table;
  clear: both;
}

#gnb > li {
  position: relative;
  float: left;
  width: 140px;
  height: 70px;
  margin-left: 10px;
  text-align: center;
  z-index: 10;
}

#gnb > li:first-child {
  margin: 0;
}

#gnb > li > a {
  display: block;
  padding-bottom: 10px;
  line-height: 60px;
  font-family: "noto-sans-scott-r";
}

#gnb > li:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #0b5098;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

#gnb > li:hover > a {
  color: #083c72;
}

#gnb > li:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#gnb ul {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
}

#gnb ul a {
  display: block;
  padding: 5px 0;
  font-size: 15px;
}

#gnb ul a:hover {
  font-family: "noto-sans-scott-r";
  color: #083c72;
}

/* footer */
#footer {
  background: #555;
  font-family: "noto-sans-scott-l";
  font-size: 13px;
  color: #ccc;
}

#footer > div {
  display: table;
  height: 120px;
}

#footer .foot_logo, #footer .foot_info {
  display: table-cell;
  vertical-align: middle;
}

#footer .foot_logo {
  width: 180px;
  padding-right: 20px;
}

#footer .foot_info {
  width: 824px;
}

#footer .foot_info p:last-child {
  margin-top: 5px;
  color: #eee;
}

#footer .foot_info span {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
}

#footer .foot_info span:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 1px;
  height: 11px;
  background: #ccc;
}

#footer .foot_info span:first-child {
  margin: 0;
  padding: 0;
}

#footer .foot_info span:first-child:before {
  display: none;
}

.title_area {
  position: relative;
  height: 250px;
  background-image: url(../images/img/sub_banner01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title_area:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.title_area .container {
  position: relative;
  display: table;
  height: 100%;
  z-index: 1;
}

.title_area .container > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.title_area .container h3 {
  position: relative;
  padding-top: 12px;
  font-family: "noto-sans-scott-m";
  font-size: 32px;
}

.title_area .container h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 3px;
  margin-left: -12px;
  background: #fff;
}

.title_area .container p {
  margin-top: 20px;
  font-family: "noto-sans-scott-l";
}

.lnb_area {
  background: #083c72;
}

.lnb_area ul {
  display: table;
  margin: 0 auto;
}

.lnb_area li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: "noto-sans-scott-l";
}

.lnb_area li:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background: #0b5098;
  -webkit-transition: height .2s linear;
  transition: height .2s linear;
}

.lnb_area li:hover:before {
  height: 50px;
}

.lnb_area li.on {
  background: #0b5098;
  font-family: "noto-sans-scott-r";
}

.lnb_area a {
  position: relative;
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  z-index: 1;
}

.content_area {
  margin: 50px auto 80px;
}

.content_area h2 {
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 2px solid #ccc;
  font-family: "noto-sans-scott-m";
  font-size: 26px;
}

.content_area .container {
  width: 800px;
}

#center .img_wrap {
  margin-top: 80px;
  text-align: center;
}

#center img {
  max-width: 100%;
}

.board_wrap.list .table.box td a {
  max-width: 775px;
}

#curriculum.list .list.box .cr_count {
  top: 50%;
  height: 38px;
  line-height: 1.3em;
  margin-top: -19px;
  overflow: hidden;
  color: #333;
}

#curriculum .bottom.box p.bd_btns {
  overflow: visible;
}

#curriculum .bottom.box p.bd_btns:after {
  content: "";
  display: table;
  clear: both;
}

#curriculum .bottom.box p.bd_btns a {
  float: right;
}

#curriculum .btn_go {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border: none;
  background: #0b5098;
  font-family: "noto-sans-scott-r";
  font-size: 16px;
  color: #fff;
}

#recruit.board_wrap.list .table.box th:nth-child(1) {
  width: 80px;
}

#recruit.board_wrap.list .table.box th:nth-child(3), #recruit.board_wrap.list .table.box th:nth-child(4), #recruit.board_wrap.list .table.box th:nth-child(5) {
  width: 110px;
}

#recruit.board_wrap.list .table.box th:nth-child(6) {
  width: 150px;
}

#recruit.board_wrap.list .table.box td {
  text-align: center;
}

#recruit.board_wrap.list .table.box td a {
  max-width: 240px;
}

#container .banner_area {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#container .banner_area .swiper-wrapper {
  height: 460px;
}

#container .banner_area .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#container .banner_area .swiper-button-prev, #container .banner_area .swiper-button-next {
  background: none;
  border: none;
  font-size: 50px;
  color: #fff;
}

#container .banner_area .swiper-button-prev:after, #container .banner_area .swiper-button-next:after {
  display: none;
}

#container .banner_area .swiper-button-prev {
  left: 50%;
  margin-left: -512px;
}

#container .banner_area .swiper-button-next {
  right: 50%;
  margin-right: -512px;
}

#container .board_area {
  padding: 30px 0;
  background: #f3f3f3;
}

#container .board_area > div:after {
  content: "";
  display: table;
  clear: both;
}

#container .board_area .box {
  float: left;
  margin-left: 20px;
  width: 246px;
  height: 246px;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.2);
}

#container .board_area .box:first-child {
  margin: 0;
}

#container .board_area h2 {
  font-family: "noto-sans-scott-m";
  font-size: 18px;
}

#container .board_area .board.box {
  position: relative;
  width: 492px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container .board_area .board.box h2 {
  margin-bottom: 15px;
}

#container .board_area .board.box li {
  margin-top: 10px;
}

#container .board_area .board.box li:first-child {
  margin: 0;
}

#container .board_area .board.box a {
  position: relative;
  display: block;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-size: 15px;
}

#container .board_area .board.box a:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 2px;
  height: 2px;
  background: #333;
  border-radius: 50%;
}

#container .board_area .board.box a:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #0b5098;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#container .board_area .board.box a:hover {
  color: #0b5098;
}

#container .board_area .board.box a:hover:before {
  background: #0b5098;
}

#container .board_area .board.box a:hover:after {
  opacity: 1;
}

#container .board_area .board.box span:first-child {
  float: left;
  width: 350px;
  height: 25.1px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#container .board_area .board.box span:last-child {
  float: right;
}

#container .board_area .lms.box {
  background-color: #0b5098;
  background-image: url(../images/bg/shp_diagonal1.png);
  background-repeat: repeat;
}

#container .board_area .lms.box > p {
  width: 100%;
  height: 100%;
  display: table;
}

#container .board_area .lms.box a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 1.2em;
  font-family: "noto-sans-scott-m";
  font-size: 26px;
  color: #fff;
}

#container .board_area .lms.box i {
  font-size: 50px;
}

#container .board_area .lms.box span {
  font-family: "noto-sans-scott-dl";
  font-size: 15px;
}

#container .board_area .service.box {
  display: table;
}

#container .board_area .service.box > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#container .board_area .service.box p {
  line-height: 1.2em;
}

#container .board_area .service.box .call_txt {
  margin: 15px 0;
  font-size: 30px;
  color: #0b5098;
}

#container .board_area .service.box .call_txt strong {
  font-family: "noto-sans-scott-b";
}

#container .board_area .service.box span {
  font-size: 15px;
  color: #666;
}
/*# sourceMappingURL=home.css.map */