/*
---------------------------------------------------------------
*
* base
*
---------------------------------------------------------------
*/
/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, button, table, tr, th, td {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

th, b, strong {
  font-weight: normal;
}

fieldset, img {
  border: none;
  vertical-align: top;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

legend {
  display: none;
}

button, input[type=submit] {
  border: 1px solid #ddd;
  cursor: pointer;
}

/*
---------------------------------------------------------------
*
* common
*
---------------------------------------------------------------
*/
@font-face {
  font-family: "noto-sans-scott-t";
  src: url("../fonts/NotoSansCJKkr-Thin.eot");
  src: url("../fonts/NotoSansCJKkr-Thin.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Thin.woff") format("woff"), url("../fonts/NotoSansCJKkr-Thin.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-l";
  src: url("../fonts/NotoSansCJKkr-Light.eot");
  src: url("../fonts/NotoSansCJKkr-Light.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Light.woff") format("woff"), url("../fonts/NotoSansCJKkr-Light.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-dl";
  src: url("../fonts/NotoSansCJKkr-DemiLight.eot");
  src: url("../fonts/NotoSansCJKkr-DemiLight.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-DemiLight.woff") format("woff"), url("../fonts/NotoSansCJKkr-DemiLight.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-r";
  src: url("../fonts/NotoSansCJKkr-Regular.eot");
  src: url("../fonts/NotoSansCJKkr-Regular.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Regular.woff") format("woff"), url("../fonts/NotoSansCJKkr-Regular.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-m";
  src: url("../fonts/NotoSansCJKkr-Medium.eot");
  src: url("../fonts/NotoSansCJKkr-Medium.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Medium.woff") format("woff"), url("../fonts/NotoSansCJKkr-Medium.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-b";
  src: url("../fonts/NotoSansCJKkr-Bold.eot");
  src: url("../fonts/NotoSansCJKkr-Bold.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Bold.woff") format("woff"), url("../fonts/NotoSansCJKkr-Bold.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-bk";
  src: url("../fonts/NotoSansCJKkr-Black.eot");
  src: url("../fonts/NotoSansCJKkr-Black.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Black.woff") format("woff"), url("../fonts/NotoSansCJKkr-Black.otf") format("truetype");
}

body {
  background: #fff;
  font-family: "noto-sans-scott-dl";
  font-size: 16px;
  color: #333;
}

a {
  color: #222;
}

select, button, input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  font-family: "noto-sans-scott-dl";
  color: #666;
}

th, b, strong {
  font-family: "noto-sans-scott-m";
}

::-moz-selection {
  background: #0b5098;
  color: #fff;
}

::selection {
  background: #0b5098;
  color: #fff;
}

::-moz-selection {
  background: #0b5098;
  color: #fff;
}

::-webkit-input-placeholder {
  font-size: 13px;
  color: #ccc;
}

::-moz-placeholder {
  font-size: 13px;
  color: #ccc;
}

:-ms-input-placeholder {
  font-size: 13px;
  color: #ccc;
}

.lock {
  overflow-y: hidden;
}

#wrap {
  min-width: 1024px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* common */
.msg_err {
  margin-top: 5px;
  font-size: 14px;
  color: #c00000;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

input[type=text], input[type=password], input[type=email], select {
  height: 45px;
  padding: 0 10px;
}

input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}

input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  line-height: 20px;
}

input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
}

input[type=checkbox] + label:after {
  content: '';
  display: none;
  position: absolute;
  top: 3px;
  left: 2px;
  width: 15px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 3px solid #0b5098;
  border-bottom: 3px solid #0b5098;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type=checkbox]:checked + label:after {
  display: block;
}

/* header , footer */
#header {
  text-align: center;
}

#footer {
  height: 35px;
}

#footer p {
  background: #083c72;
  line-height: 35px;
  text-align: center;
  font-family: "noto-sans-scott-l";
  font-size: 13px;
  color: #fff;
}

/* login */
.login_wrap {
  display: table;
  width: 100%;
  height: calc(100vh - 50px);
}

.login_wrap > div {
  display: table-cell;
  vertical-align: middle;
}

.login_wrap #container {
  margin-top: 80px;
}

.login_wrap .form_login {
  display: table;
  margin: 0 auto;
}

.login_wrap .form_login dl {
  margin-top: 15px;
  overflow: hidden;
}

.login_wrap .form_login dl:first-child {
  margin: 0;
}

.login_wrap .form_login dt, .login_wrap .form_login dd {
  float: left;
}

.login_wrap .form_login dt {
  width: 50px;
  height: 45px;
  line-height: 45px;
  font-size: 30px;
}

.login_wrap .form_login button[type=submit] {
  display: block;
  width: 350px;
  height: 45px;
  margin: 20px auto 0;
  background: #0b5098;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}

.login_wrap .list_others {
  margin-top: 30px;
}

.login_wrap .list_others li {
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
  color: #666;
}

.login_wrap .list_others li:first-child {
  margin: 0;
}

.login_wrap .list_others a {
  font-family: "noto-sans-scott-m";
  color: #555;
}

/* join */
.join_wrap {
  margin-top: 80px;
}

.join_wrap h2 {
  position: relative;
  margin-bottom: 30px;
  padding-top: 8px;
  font-family: "noto-sans-scott-m";
  font-size: 18px;
}

.join_wrap h2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 3px;
  background: #0b5098;
}

.join_wrap #container {
  margin: 80px 0;
}

.join_wrap .form_join {
  display: table;
  margin: 0 auto;
}

.join_wrap .form_join > .msg_err {
  text-align: center;
}

.join_wrap .list_chks {
  width: 500px;
}

.join_wrap .list_chks dt {
  margin-top: 30px;
  font-size: 15px;
  font-family: "noto-sans-scott-r";
}

.join_wrap .list_chks dt:first-child {
  margin: 0;
}

.join_wrap .list_chks dt:last-child {
  text-align: center;
}

.join_wrap .list_chks dd {
  margin-top: 15px;
}

.join_wrap .list_chks textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  resize: none;
}

.join_wrap .list_ipts li {
  position: relative;
  margin-top: 20px;
}

.join_wrap .list_ipts li:first-child {
  margin: 0;
}

.join_wrap .list_ipts label {
  position: absolute;
  top: 0;
  left: 10px;
  line-height: 45px;
  width: 110px;
  font-size: 14px;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.join_wrap .list_ipts label.out {
  text-align: right;
  top: 0;
  left: -125px;
}

.join_wrap .list_ipts input, .join_wrap .list_ipts select {
  width: 400px;
}

.join_wrap .list_btns {
  display: table;
  margin: 30px auto 0;
  overflow: hidden;
}

.join_wrap .list_btns li {
  float: left;
  width: 145px;
  margin-left: 10px;
  font-size: 15px;
}

.join_wrap .list_btns li:first-child {
  margin: 0;
}

.join_wrap .list_btns a {
  display: block;
  height: 45px;
  line-height: 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  text-align: center;
}

.join_wrap .list_btns button {
  width: 100%;
  height: 45px;
  font-size: 15px;
  background: #eee;
}

.join_wrap .list_btns button[type=submit], .join_wrap .list_btns .btn_next {
  background: #0b5098;
  color: #fff;
}
/*# sourceMappingURL=login.css.map */