@charset "UTF-8";
/*
---------------------------------------------------------------
*
* base
*
---------------------------------------------------------------
*/
/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, button, table, tr, th, td {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

th, b, strong {
  font-weight: normal;
}

fieldset, img {
  border: none;
  vertical-align: top;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

legend {
  display: none;
}

button, input[type=submit] {
  border: 1px solid #ddd;
  cursor: pointer;
}

/*
---------------------------------------------------------------
*
* common
*
---------------------------------------------------------------
*/
@font-face {
  font-family: "noto-sans-scott-t";
  src: url("../fonts/NotoSansCJKkr-Thin.eot");
  src: url("../fonts/NotoSansCJKkr-Thin.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Thin.woff") format("woff"), url("../fonts/NotoSansCJKkr-Thin.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-l";
  src: url("../fonts/NotoSansCJKkr-Light.eot");
  src: url("../fonts/NotoSansCJKkr-Light.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Light.woff") format("woff"), url("../fonts/NotoSansCJKkr-Light.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-dl";
  src: url("../fonts/NotoSansCJKkr-DemiLight.eot");
  src: url("../fonts/NotoSansCJKkr-DemiLight.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-DemiLight.woff") format("woff"), url("../fonts/NotoSansCJKkr-DemiLight.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-r";
  src: url("../fonts/NotoSansCJKkr-Regular.eot");
  src: url("../fonts/NotoSansCJKkr-Regular.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Regular.woff") format("woff"), url("../fonts/NotoSansCJKkr-Regular.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-m";
  src: url("../fonts/NotoSansCJKkr-Medium.eot");
  src: url("../fonts/NotoSansCJKkr-Medium.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Medium.woff") format("woff"), url("../fonts/NotoSansCJKkr-Medium.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-b";
  src: url("../fonts/NotoSansCJKkr-Bold.eot");
  src: url("../fonts/NotoSansCJKkr-Bold.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Bold.woff") format("woff"), url("../fonts/NotoSansCJKkr-Bold.otf") format("truetype");
}

@font-face {
  font-family: "noto-sans-scott-bk";
  src: url("../fonts/NotoSansCJKkr-Black.eot");
  src: url("../fonts/NotoSansCJKkr-Black.eot") format("embedded-opentype"), url("../fonts/NotoSansCJKkr-Black.woff") format("woff"), url("../fonts/NotoSansCJKkr-Black.otf") format("truetype");
}

body {
  background: #fff;
  font-family: "noto-sans-scott-dl";
  font-size: 16px;
  color: #333;
}

a {
  color: #222;
}

select, button, input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  font-family: "noto-sans-scott-dl";
  color: #666;
}

th, b, strong {
  font-family: "noto-sans-scott-m";
}

input[type=text], input[type=password], input[type=email], select {
  height: 45px;
  padding: 0 10px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus {
  outline: none;
  border-color: #0b5098;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px;
}

textarea:focus {
  outline: none;
  border-color: #0b5098;
}

input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}

input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  line-height: 20px;
}

input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}

input[type=checkbox] + label:after {
  content: '';
  display: none;
  position: absolute;
  top: 3px;
  left: 2px;
  width: 15px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 3px solid #0b5098;
  border-bottom: 3px solid #0b5098;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type=checkbox]:checked + label:after {
  display: block;
}

::-moz-selection {
  background: #0b5098;
  color: #fff;
}

::selection {
  background: #0b5098;
  color: #fff;
}

::-moz-selection {
  background: #0b5098;
  color: #fff;
}

::-webkit-input-placeholder {
  font-size: 13px;
  color: #666;
}

::-moz-placeholder {
  font-size: 13px;
  color: #666;
}

:-ms-input-placeholder {
  font-size: 13px;
  color: #666;
}

.lock {
  overflow-y: hidden;
}

#wrap {
  min-width: 1024px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* popup */
#popup {
  display: none;
  border-top: 8px solid #0b5098;
  background: #fff;
  width: 512px;
  padding: 30px 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100px;
  text-align: center;
}

#popup .alert {
  margin-bottom: 20px;
  font-size: 15px;
}

#popup .list_btns {
  display: table;
  margin: 0 auto;
  overflow: hidden;
}

#popup button {
  width: 100px;
  height: 30px;
  margin-left: 10px;
  background: #eee;
  font-size: 14px;
}

#popup button:first-child {
  margin: 0;
}

#popup button.yes {
  background: #0b5098;
  font-family: "noto-sans-scott-l";
  color: #fff;
}

#popup button:focus {
  outline: none;
}

/*
---------------------------------------------------------------
*
* layout
*
---------------------------------------------------------------
*/
/* lms */
#header {
  position: relative;
  padding: 15px 0;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -522px;
  width: 200px;
  height: 100%;
  background: #083c72;
  z-index: 0;
  -webkit-box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
}

#header > div:after {
  content: "";
  display: table;
  clear: both;
}

#header h1 {
  position: relative;
  float: left;
  z-index: 1;
}

#header .quick {
  float: right;
  overflow: hidden;
}

#header .quick li {
  float: left;
}

#header .quick a, #header .quick button {
  width: 45px;
  height: 45px;
  font-size: 30px;
  color: #333;
}

#header .quick a {
  display: block;
  line-height: 45px;
  text-align: center;
}

#header .quick button {
  background: none;
  border: none;
}

#container {
  position: relative;
  min-height: calc(100vh - 215px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 0 80px;
}

#container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  height: 100%;
  margin-left: -522px;
  background: #083c72;
  z-index: 0;
}

#container .container {
  padding-left: 190px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gnb_area {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -512px;
  width: 180px;
  z-index: 1;
  overflow: hidden;
}

.gnb_area li {
  width: 180px;
  color: #fff;
}

.gnb_area button {
  width: 45px;
  height: 45px;
  border: none;
  background: none;
  text-align: left;
  color: #fff;
}

.gnb_area a {
  display: table;
  width: 100%;
  height: 45px;
  font-family: "noto-sans-scott-l";
  font-size: 15px;
  color: #fff;
  font-family: "noto-sans-scott-l";
}

.gnb_area a i, .gnb_area a span {
  display: table-cell;
  vertical-align: middle;
}

.gnb_area a i {
  width: 45px;
  text-align: center;
}

.gnb_area a span {
  width: 135px;
}

.gnb_area i {
  font-size: 25px;
}

.gnb_area span {
  text-indent: 5px;
}

.content_area {
  width: 800px;
  margin: 0 auto;
}

.content_area h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

/* footer */
#footer {
  background: #555;
  font-family: "noto-sans-scott-l";
  font-size: 13px;
  color: #ccc;
}

#footer > div {
  position: relative;
  display: table;
  height: 100px;
  padding-top: 40px;
}

#footer .foot_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #666;
}

#footer .foot_menu li {
  position: relative;
  float: left;
  margin-left: 15px;
  padding-left: 15px;
  line-height: 40px;
}

#footer .foot_menu li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 13px;
  margin-top: -7px;
  background: #aaa;
}

#footer .foot_menu li:first-child {
  margin: 0;
  padding: 0;
}

#footer .foot_menu li:first-child:before {
  display: none;
}

#footer .foot_menu a {
  font-size: 14px;
  color: #aaa;
}

#footer .foot_logo, #footer .foot_info {
  display: table-cell;
  vertical-align: middle;
}

#footer .foot_logo {
  width: 180px;
  padding-right: 20px;
}

#footer .foot_info {
  width: 824px;
}

#footer .foot_info p:last-child {
  margin-top: 5px;
  color: #eee;
}

#footer .foot_info span {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
}

#footer .foot_info span:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 1px;
  height: 11px;
  background: #ccc;
}

#footer .foot_info span:first-child {
  margin: 0;
  padding: 0;
}

#footer .foot_info span:first-child:before {
  display: none;
}

h2 {
  position: relative;
  margin-bottom: 30px;
  padding-top: 8px;
  font-family: "noto-sans-scott-m";
  font-size: 18px;
}

h2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 3px;
  background: #0b5098;
}

h3 {
  position: relative;
  margin-bottom: 10px;
  padding-left: 11px;
  font-family: "noto-sans-scott-m";
}

h3:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 6px;
  height: 6px;
  background: #0b5098;
}

body {
  background: #fefefe;
}

.dashboard_wrap > div {
  margin: 0 0 -20px -20px;
}

.dashboard_wrap > div:after {
  content: "";
  display: table;
  clear: both;
}

.dashboard_wrap .box {
  position: relative;
  display: table;
  float: left;
  width: 390px;
  height: 200px;
  margin: 0 0 20px 20px;
  padding: 35px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.dashboard_wrap .box h3 {
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: "noto-sans-scott-m";
}

.dashboard_wrap .box .btn_go {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 14px;
}

.dashboard_wrap .box > div {
  display: table-cell;
  vertical-align: middle;
}

.dashboard_wrap .profile.box dt {
  margin-bottom: 15px;
  text-align: right;
}

.dashboard_wrap .profile.box dd {
  font-size: 15px;
}

.dashboard_wrap .class.box dt {
  margin-bottom: 15px;
}

.dashboard_wrap .class.box dd {
  overflow: hidden;
  font-size: 15px;
  color: #666;
}

.dashboard_wrap .class.box span {
  float: right;
}

.dashboard_wrap .class.box .cl_empty {
  text-align: center;
}

.dashboard_wrap .status.box, .dashboard_wrap .stats.box {
  padding-bottom: 15px;
}

.dashboard_wrap .attend.box {
  display: block;
}

.dashboard_wrap .attend.box dl {
  display: table;
  margin: 0 auto;
  height: 100%;
}

.dashboard_wrap .attend.box dt, .dashboard_wrap .attend.box dd {
  display: table-cell;
  vertical-align: middle;
}

.dashboard_wrap .attend.box dt {
  padding-right: 50px;
  text-align: center;
  font-family: "noto-sans-scott-m";
}

.dashboard_wrap .attend.box dt span {
  display: block;
  margin-top: 10px;
  line-height: 1.2em;
  font-family: "noto-sans-scott-r";
  font-size: 15px;
  color: #666;
}

.dashboard_wrap .attend.box dt span:last-child {
  margin: 5px;
}

.dashboard_wrap .attend.box dt b {
  color: #333;
}

.dashboard_wrap .attend.box dd {
  font-size: 15px;
  color: #666;
}

.dashboard_wrap .attend.box dd button {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-family: "noto-sans-scott-m";
  font-size: 28px;
  color: #fff;
  border: none;
  background: #999;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: .1s;
  transition: .1s;
  overflow: hidden;
}

.dashboard_wrap .attend.box dd button:before {
  content: '';
  position: absolute;
  top: -60px;
  left: -10px;
  width: 15px;
  height: 120px;
  background: #fff;
  opacity: .2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.dashboard_wrap .attend.box dd button:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  opacity: .3;
}

.dashboard_wrap .attend.box dd button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dashboard_wrap .attend.box dd button:hover:before {
  top: 50px;
  left: 100px;
}

.dashboard_wrap .attend.box dd button.in {
  background: #c00000;
}

.dashboard_wrap .attend.box dd button.in span:before {
  content: "입실";
}

.dashboard_wrap .attend.box dd button.in:hover {
  background: #ba0000;
}

.dashboard_wrap .attend.box dd button.out {
  background: #0b5098;
}

.dashboard_wrap .attend.box dd button.out span:before {
  content: "퇴실";
}

.dashboard_wrap .attend.box dd button.out:hover {
  background: #094b90;
}

.dashboard_wrap .board.box ul .bd_empty {
  text-align: center;
  font-size: 15px;
  color: #666;
}

.dashboard_wrap .board.box ul a {
  position: relative;
  display: block;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-size: 15px;
}

.dashboard_wrap .board.box ul a:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 2px;
  height: 2px;
  background: #333;
  border-radius: 50%;
}

.dashboard_wrap .board.box ul a:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #0b5098;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.dashboard_wrap .board.box ul a:hover {
  color: #0b5098;
}

.dashboard_wrap .board.box ul a:hover:after {
  opacity: 1;
}

.dashboard_wrap .board.box ul span:first-child {
  float: left;
  width: 260px;
  height: 25.1px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dashboard_wrap .board.box ul span:last-child {
  float: right;
}

.dashboard_wrap .status.box li {
  margin-top: 15px;
  font-size: 15px;
}

.dashboard_wrap .status.box li:first-child {
  margin: 0;
}

.dashboard_wrap .status.box .progress {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 5px;
  background: red;
  overflow: hidden;
}

.dashboard_wrap .status.box .progress:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  z-index: 1;
}

.dashboard_wrap .status.box .progress b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 0;
}

.dashboard_wrap .stats.box ul {
  overflow: hidden;
}

.dashboard_wrap .stats.box li {
  float: left;
  width: 25%;
  text-align: center;
  font-size: 15px;
  color: #666;
}

.dashboard_wrap .stats.box span {
  display: block;
  margin-bottom: 10px;
  line-height: 38px;
  font-size: 38px;
  font-family: "noto-sans-scott-b";
  color: #333;
}

.dashboard_wrap .button.box {
  padding: 0;
}

.dashboard_wrap .button.box a {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 80px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #083c72;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.dashboard_wrap .button.box a:hover {
  background: #222;
}

.dashboard_wrap .button.box i, .dashboard_wrap .button.box b {
  display: table-cell;
  vertical-align: middle;
}

.dashboard_wrap .button.box i {
  font-size: 60px;
}

.board_wrap .top.box {
  margin-bottom: 10px;
  overflow: hidden;
}

.board_wrap .top.box p {
  float: left;
  line-height: 35px;
  font-size: 14px;
  color: #666;
}

.board_wrap .top.box select {
  float: right;
  width: 100px;
  height: 35px;
  color: #333;
}

.board_wrap .table.box {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
}

.board_wrap .table.box tr {
  border-top: 1px solid #ddd;
}

.board_wrap .table.box tr:first-child {
  border-color: #bbb;
}

.board_wrap .table.box thead tr {
  border: none;
}

.board_wrap .table.box th, .board_wrap .table.box td {
  font-size: 14px;
}

.board_wrap .bottom.box {
  margin-top: 15px;
}

.board_wrap .bd_btns {
  overflow: hidden;
}

.board_wrap .bd_btns a, .board_wrap .bd_btns button {
  width: 120px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #666;
}

.board_wrap .bd_btns a {
  display: block;
  line-height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.board_wrap .bd_btns button {
  background: #fff;
  font-size: 14px;
}

.board_wrap .bd_btns .btn_submit {
  background: #083c72;
  font-family: "noto-sans-scott-l";
  color: #fff;
}

.board_wrap .bd_pages {
  display: table;
  margin: 30px auto 0;
}

.board_wrap .bd_pages li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.board_wrap .bd_pages a, .board_wrap .bd_pages b {
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
}

.board_wrap .bd_pages b {
  border-radius: 3px;
  background: #083c72;
  color: #fff;
}

.board_wrap .bd_pages .pg_start, .board_wrap .bd_pages .pg_prev, .board_wrap .bd_pages .pg_next, .board_wrap .bd_pages .pg_end {
  background-repeat: no-repeat;
  background-position: center;
}

.board_wrap .bd_pages .pg_prev {
  background-image: url(../images/ico/shp_prev.png);
}

.board_wrap .bd_pages .pg_start {
  background-image: url(../images/ico/shp_start.png);
}

.board_wrap .bd_pages .pg_next {
  background-image: url(../images/ico/shp_next.png);
}

.board_wrap .bd_pages .pg_end {
  background-image: url(../images/ico/shp_end.png);
}

.board_wrap .bd_date:after {
  content: "";
  display: table;
  clear: both;
}

.board_wrap .bd_date p {
  position: relative;
  float: left;
  min-width: 50px;
  line-height: 45px;
  text-align: center;
}

.board_wrap .bd_date i {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 25px;
  background: #eee;
  border-right: 1px solid #ddd;
  color: #333;
  z-index: 0;
}

.board_wrap .bd_date input {
  position: relative;
  width: 260px !important;
  padding-left: 55px;
  text-align: center;
  background: none;
  z-index: 1;
}

.board_wrap.list .table.box th {
  padding: 10px 0;
}

.board_wrap.list .table.box th:nth-child(1) {
  width: 60px;
}

.board_wrap.list .table.box th:nth-child(3) {
  width: 120px;
}

.board_wrap.list .table.box th:nth-child(4) {
  width: 70px;
}

.board_wrap.list .table.box td {
  padding: 5px 0;
  text-align: center;
}

.board_wrap.list .table.box td:nth-child(2) {
  text-align: left;
}

.board_wrap.list .table.box td a {
  display: block;
  max-width: 550px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.board_wrap.list .table.box td a:hover {
  text-decoration: underline;
  color: #0b5098;
}

.board_wrap.list .bd_btns a {
  float: right;
}

.board_wrap.write .table.box th, .board_wrap.write .table.box td {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.board_wrap.write .table.box th {
  width: 120px;
}

.board_wrap.write .table.box td {
  width: 680px;
}

.board_wrap.write .table.box td input, .board_wrap.write .table.box td select, .board_wrap.write .table.box td textarea {
  width: 100%;
  color: #333;
}

.board_wrap.write .table.box td textarea {
  height: 300px;
  resize: none;
}

.board_wrap.write .table.box .bd_half td {
  width: 280px;
}

.board_wrap.write .bd_btns {
  display: table;
  margin: 0 auto;
}

.board_wrap.write .bd_btns li {
  float: left;
  margin-left: 10px;
}

.board_wrap.write .bd_btns li:first-child {
  margin: 0;
}

.board_wrap.detail .title.box, .board_wrap.detail .content.box {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.board_wrap.detail .title.box {
  border-top: 2px solid #333;
  border-bottom: 1px solid #bbb;
}

.board_wrap.detail .title.box h3 {
  margin-bottom: 15px;
  padding: 0;
}

.board_wrap.detail .title.box h3:before {
  display: none;
}

.board_wrap.detail .title.box ul {
  overflow: hidden;
}

.board_wrap.detail .title.box ul li {
  position: relative;
  float: left;
  margin-left: 12px;
  padding-left: 12px;
  font-size: 14px;
  color: #666;
}

.board_wrap.detail .title.box ul li:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #666;
}

.board_wrap.detail .title.box ul li:first-child {
  margin: 0;
  padding: 0;
}

.board_wrap.detail .title.box ul li:first-child:before {
  display: none;
}

.board_wrap.detail .content.box {
  border-bottom: 1px solid #333;
  min-height: 300px;
  font-size: 15px;
}

.board_wrap.detail .bd_btns li {
  float: right;
}

.board_wrap.detail .bd_btns li:first-child {
  float: left;
}

#myDetail.board_wrap .title.box {
  padding: 20px 10px;
}

#myDetail.board_wrap .title.box h3 {
  margin: 0;
}

#curriculum.board_wrap .list.box {
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
}

#curriculum.board_wrap .list.box li {
  position: relative;
  padding: 10px 100px 10px 10px;
  border-top: 1px solid #ddd;
}

#curriculum.board_wrap .list.box li:first-child {
  border: none;
}

#curriculum.board_wrap .list.box a {
  display: block;
  margin-bottom: 5px;
}

#curriculum.board_wrap .list.box a:hover {
  text-decoration: underline;
  color: #0b5098;
}

#curriculum.board_wrap .list.box span {
  display: block;
  font-size: 14px;
  color: #666;
}

#curriculum.board_wrap .list.box .cr_count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  text-align: center;
}

#curriculum.board_wrap .list.box .cr_end, #curriculum.board_wrap .list.box button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 30px;
  font-size: 13px;
}

#curriculum.board_wrap .list.box .cr_end {
  line-height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  background: #eee;
  text-align: center;
}

#curriculum.board_wrap .list.box button {
  background: #0b5098;
  color: #fff;
}

#curriculum.board_wrap.cr2 .list.box li {
  padding: 10px;
}

#inform.board_wrap h3 {
  margin-top: 50px;
}

#inform.board_wrap h3:first-child {
  margin-top: 0;
}

#inform.board_wrap textarea {
  height: 150px;
}

.member.board_wrap.list .table.box tr {
  border: none;
}

.member.board_wrap.list .table.box thead tr {
  background: none !important;
}

.member.board_wrap.list .table.box th, .member.board_wrap.list .table.box td {
  border: 1px solid #ddd;
}

.member.board_wrap.list .table.box th:first-child, .member.board_wrap.list .table.box td:first-child {
  border-left: none;
}

.member.board_wrap.list .table.box th:last-child, .member.board_wrap.list .table.box td:last-child {
  border-right: none;
}

.member.board_wrap.list .table.box th {
  padding: 5px 0;
}

.member.board_wrap.list .table.box th:nth-child(1) {
  width: 120px;
}

.member.board_wrap.list .table.box th:nth-child(2) {
  width: 100px;
}

.member.board_wrap.list .table.box th:nth-child(3) {
  width: 280px;
}

.member.board_wrap.list .table.box th:nth-child(5) {
  width: 100px;
}

.member.board_wrap.list .table.box td {
  text-align: center;
}

.member.board_wrap.list .table.box td select {
  width: 100px;
  height: 25px;
  margin-top: 5px;
}

.member.board_wrap.list .table.box td select:first-child {
  margin: 0;
}

.member.board_wrap.list .table.box td button {
  width: 80px;
  height: 30px;
  background: #fff;
  border-color: #999;
  color: #333;
}

.member.board_wrap.list .table.box .mb_curriculum {
  position: relative;
  cursor: default;
}

.member.board_wrap.list .table.box .mb_curriculum p {
  width: 280px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.member.board_wrap.list .table.box .mb_curriculum span {
  position: absolute;
  left: 0;
  padding: 5px 8px;
  border: 1px solid #ddd;
  background: #083c72;
  font-family: "noto-sans-scott-l";
  color: #fff;
  white-space: nowrap;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
  opacity: 0;
}

#member.board_wrap .table.box tr:nth-child(4n+1), #member.board_wrap .table.box tr:nth-child(4n+2) {
  background: #f7f7f7;
}

#member.board_wrap .table.box th:nth-child(4) {
  width: 100px;
}

#member2.board_wrap .table.box tr:nth-child(2n+1) {
  background: #f7f7f7;
}

#member2.board_wrap .table.box th:nth-child(4) {
  width: 200px;
}

#my.board_wrap .top.box {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f7f7f7;
}

#my.board_wrap .top.box dt, #my.board_wrap .top.box dd {
  line-height: 2em;
  font-size: 15px;
}

#my.board_wrap .top.box dt {
  margin-bottom: 10px;
  font-family: "noto-sans-scott-m";
}

#my.board_wrap .top.box dd {
  position: relative;
  padding-left: 12px;
}

#my.board_wrap .top.box dd:before {
  content: '';
  position: absolute;
  top: 13px;
  left: 4px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #333;
}

#my.board_wrap.attend .table.box th {
  width: 200px;
}

#my.board_wrap.attend .table.box th:nth-child(1) {
  width: 130px;
}

#my.board_wrap.attend .table.box th:nth-child(2) {
  width: 170px;
}

#my.board_wrap.attend .table.box th:nth-child(3) {
  width: 150px;
}

#my.board_wrap.attend .table.box th:nth-child(4) {
  width: 150px;
}

#my.board_wrap.attend .table.box th:nth-child(5) {
  width: 200px;
}

#my.board_wrap.attend .table.box td {
  height: 50px;
  padding: 8px 0;
  text-align: center;
}

#my.board_wrap.attend .table.box span {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  font-family: "noto-sans-scott-r";
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

#my.board_wrap.attend .table.box span:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#my.board_wrap.attend .table.box .atd_status1 {
  background: #0070c0;
}

#my.board_wrap.attend .table.box .atd_status2 {
  background: #009d47;
}

#my.board_wrap.attend .table.box .atd_status3 {
  background: #7030a0;
}

#my.board_wrap.attend .table.box .atd_status4 {
  background: #c00000;
}

#my.board_wrap.grade th:nth-child(1) {
  width: 120px;
}

#my.board_wrap.grade th:nth-child(2) {
  width: 100px;
}

#my.board_wrap.grade th:nth-child(3) {
  width: 230px;
}

#my.board_wrap.grade th:nth-child(4) {
  width: 100px;
}

#my.board_wrap.grade th:nth-child(5) {
  width: 140px;
}

#my.board_wrap.grade th:nth-child(6) {
  width: 110px;
}

#my.board_wrap.grade td {
  padding: 15px 0;
  text-align: center;
}

#my.board_wrap.curriculum .content.box {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
}

#grade.board_wrap .table.box td {
  text-align: center;
}

#grade.board_wrap .table.box.date {
  margin-bottom: 80px;
}

#grade.board_wrap .table.box.date th {
  width: 233px;
}

#grade.board_wrap .table.box.date th:nth-child(4) {
  width: 101px;
}

#grade.board_wrap .table.box.grade tr:nth-child(odd) {
  background: #f7f7f7;
}

#grade.board_wrap .table.box.grade thead tr {
  background: none !important;
}

#grade.board_wrap .table.box.grade th:nth-child(1), #grade.board_wrap .table.box.grade th:nth-child(5) {
  width: 100px;
}

#grade.board_wrap .table.box.grade th:nth-child(2), #grade.board_wrap .table.box.grade th:nth-child(3), #grade.board_wrap .table.box.grade th:nth-child(4) {
  width: 200px;
}

#grade.board_wrap .table.box.grade input {
  height: 30px;
}

#grade.board_wrap .bd_date p {
  float: none;
  width: 200px;
  margin: 0 auto;
  line-height: 30px;
}

#grade.board_wrap .bd_date i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
}

#grade.board_wrap .bd_date input {
  width: 100% !important;
  height: 30px;
  padding-left: 30px;
}

#grade.board_wrap button {
  width: 80px;
  height: 30px;
  background: #fff;
  border-color: #999;
  color: #333;
}

.lock_wrap h2, .profile_wrap h2 {
  margin-bottom: 80px;
}

.lock_wrap form, .profile_wrap form {
  display: table;
  margin: 0 auto;
}

.lock_wrap input[type=text], .lock_wrap input[type=password], .lock_wrap input[type=email], .lock_wrap select, .profile_wrap input[type=text], .profile_wrap input[type=password], .profile_wrap input[type=email], .profile_wrap select {
  width: 300px;
}

.lock_wrap .list_btns, .profile_wrap .list_btns {
  margin-top: 50px;
  overflow: hidden;
}

.lock_wrap .list_btns li, .profile_wrap .list_btns li {
  float: left;
  width: 145px;
  margin-left: 10px;
  font-size: 15px;
}

.lock_wrap .list_btns li:first-child, .profile_wrap .list_btns li:first-child {
  margin: 0;
}

.lock_wrap .list_btns a, .profile_wrap .list_btns a {
  display: block;
  height: 45px;
  line-height: 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  text-align: center;
}

.lock_wrap .list_btns button, .profile_wrap .list_btns button {
  width: 100%;
  height: 45px;
  font-size: 15px;
  background: #eee;
}

.lock_wrap .list_btns button[type=submit], .profile_wrap .list_btns button[type=submit] {
  background: #0b5098;
  color: #fff;
}

.lock_wrap .list_ipts dt {
  margin-bottom: 20px;
  text-align: center;
  font-size: 80px;
  color: #333;
}

.profile_wrap form {
  display: table;
  margin: 0 auto;
}

.profile_wrap .list_ipts li {
  position: relative;
  margin-top: 20px;
}

.profile_wrap .list_ipts li:first-child {
  margin: 0;
}

.profile_wrap .list_ipts label {
  position: absolute;
  top: 0;
  left: -130px;
  width: 120px;
  height: 45px;
  line-height: 45px;
  text-align: right;
  font-size: 14px;
}

.profile_wrap .list_ipts span {
  display: block;
  width: 300px;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
/*# sourceMappingURL=site.css.map */